<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Scout uses the camera to add photos to your restaurant journal.</string>
	<key>UIAppFonts</key>
	<array>
		<string>DMSans-SemiBold.ttf</string>
		<string>DMSans-Medium.ttf</string>
		<string>DMSans-Regular.ttf</string>
		<string>DMSerifDisplay-Regular.ttf</string>
		<string>DMSerifDisplay-Italic.ttf</string>
	</array>
</dict>
</plist>
